node_modules/
**/node_modules/

.next/
**/.next/

dist/
**/dist/

coverage/
**/coverage/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker deploy archives
*.tar
*.tar.gz
deploy.tar.gz